doctype html
html(lang="en")

  head
    block vars
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title #{title}
    base(href="test.com" target="_self")
    //base(href="http://pepelazz.github.io/StaticSite/" target="_self")
    block styles
        link(href="./libs/normalize.css" rel="stylesheet")
        link(href="./index.css" rel="stylesheet")
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=cyrillic-ext,latin" rel="stylesheet" type="text/css")

  body
     #main
      .page-body
        h1 Зачем?
        .step
            h2 1 Низкая цена одно клика (0.3 - 5 рублей )
            p
                |Большой объем созданных объявлений (до 10000 штук) позволяет минимизировать затраты на показ объявлений.
                |Закон больших чисел работает на вас - яндекс хотя бы по несколько раз, но покажет каждое из ваших объявления,
                |несмотря на то, что вы назначили низкую цену за клик.
        .step
            h2 2 Простота создания большого количества объявлений
            p
                |Человеческое воображение не безгранично - придумать даже 100 объявлений не так уж просто. А придумать 10 фраз для
                |рекламных текстов и еще 10 эмоциональных приставок не так уж сложно. Затем остается выбрать 100 ключевиков и получаем
                |10000 объявлений (10x10x100)
        .step
            h2 3 Маркетинговое исследование
            p
                |За счет автоматической генерации множества самых разнообразных вариантов объявлений производится широкий охват
                |целевой аудитории. В дальнейшем это обеспечивает аналитическую информацию об актуальных интересах аудитории. А также
                |позволяет выявить наиболее эффективные рекламные слоганы.

        h1 Как?
        .step
            h2 Шаг 1 - Подбор ключевиков
            p
                | Заходим на <a href='http://wordstat.yandex.ru/' target='_blank'>сервис подбора ключевых слов</a> и выбираем запросы,
                | которые соответствуют интересующей целевой аудитории.
            a(href='http://wordstat.yandex.ru/' target='_blank')
                img(src='./images/screen01.jpg')
        .step
            h2 Шаг 2 - Заполняем excel файл
            p
                | Скачиваем <a href='./data/sample.xlsx'>образец файла</a> и заносим в него ключевые слова, найденные на предыдущем шаге.
            .excl-instruction-click
                p.link Инструкция по заполнению файла
                img(src='./images/plus.svg').icon-plus
                img(src='./images/minus.svg').icon-minus.hide
            .excl-instruction
                p
                    | Общий принцип формирования объявления при данном подходе:
                ul
                    li Заголовок = ключевик + эмоциональная приставка
                    li Текст = ключевик + текст объявления
                p
                    | Ограничения по длине: заголовок  - 33 символа, текст обяъвления  - 75 символов. При составлении текстов объявлений
                    | имеет смысл учитывать этот факт, иначе объявление не будет принято яндексом.
                hr
                p
                    | В файле на листе "Ключевики" в колонку "А" заносим ключевик, который предлагает сервис яндекса по подбору слов.
                    | В колонку "B" либо дублируем этот ключевик, либо пишем более сокращенный вариант. Это делается для того чтобы в случае
                    | слишком длинного ключевика, например "как выучить английский язык онлайн", заменить его в тексте объявления более коротким аналогом,
                    | например "английский онлайн".
                p
                    | На листе "Объявления" в колонку "А" заносим тексты объявлений. Помним что полный текст объявления формируется по формуле
                    | ключевик + текст объявления. В примере с ключевиком "английский онлайн", если мы напишем в колонку "А" текст
                    |"Эффективное и быстрое обучение!", то финальный текст обяъвления будет таким "Английский онлайн. Эффективное и быстрое обучение!"
                p
                    | На листе "Эмо" в колонку "А" заносим эмоцинальные мотивирующие приставки ("Супер!", "Жми!", "Скидки!" и т.д.)
        .step
            h2 Шаг 3 - Создаем учетную запись на яндекс директ
                p
                    | Либо высылаем пароль доступа вместе с файлом, либо самостоятельно <a href="https://tech.yandex.ru/direct/doc/dg-v4/concepts/auth-token-docpage/#get-token">создаем токен</a>
                    | и высылаем токен. С учетом дневного лимита загрузки (2000-2600 объявлений) сформированные обяъвления начинают загружаться
                    | на указанный аккаунт. Далее засылаем деньги на яндекс, отправляем загруженные объявления на модерацию и после успешного
                    | прохождения модерации устанавливаем цену за клик для кампании.
        .step
            h2 Шаг 4 - Получаем дешевый траффик потенциальных клиентов на свой сайт.





      aside#sidebar
        .section
            .logo
                img(src='./images/logo.png')
            p.logo-text Сервис для автоматического создания рекламных компании на Яндекс Директ
        .section
           .price от 5000 руб
           .email yndx.direct.uploader@gmail.com


  script(src="./libs/zepto.min.js")
| <!-- Yandex.Metrika counter -->
| <script type="text/javascript">
| (function (d, w, c) {
| (w[c] = w[c] || []).push(function() {
| try {
| w.yaCounter27185813 = new Ya.Metrika({id:27185813,
| webvisor:true,
| clickmap:true,
| trackLinks:true,
| accurateTrackBounce:true});
|    } catch(e) { }
|    });
|    var n = d.getElementsByTagName("script")[0],
|        s = d.createElement("script"),
|    f = function () { n.parentNode.insertBefore(s, n); };
| s.type = "text/javascript";
| s.async = true;
| s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
| if (w.opera == "[object Opera]") {
|    d.addEventListener("DOMContentLoaded", f, false);
| } else { f(); }
| })(document, window, "yandex_metrika_callbacks");
| </script>
| <noscript><div><img src="//mc.yandex.ru/watch/27185813" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
| <!-- /Yandex.Metrika counter -->



// build:js
// endbuild


